        body {
            background-color: #EDEDED;
            padding: 0px;
            margin: 0px;
            display: flex;
            flex-direction: column;
            min-height: 100vh; 

        }
        #header{
          margin-top: 23px;
          text-align: center;
          height: 200px;
        }
        img {
            width:125px;
            height:125px;
            place-self: center;
            border-radius: 100px;
        }
        #title {
            font-family: 'inter';
            font-weight: bold;
            font-size: 48px;
            color: #000000;
            margin-top: 0%;
            text-align: center;
            margin: 0;

        }
        #underTitle {
            font-family: 'inter';
            font-weight: lighter;
            font-size: 18px;
            color: #000000;
            margin-top: -5px;
            text-align: center;
        }
        #whiteBox {
            place-self: center;
            background-color: #FFFFFF;
            width: 95%;
            max-width: 589px;
            min-height: 500px;
            border-radius: 30px;
            margin: -20px auto;
            box-shadow: 0px 4px 6px #9F9F9F;
            padding-left: 28px;
            align-self: center;
            box-sizing: border-box;
        }
        #subTitle {
            font-family: 'inter';
            font-weight: 500;
            font-size: 24px;
            color: #000000;
            margin-top: 5%;
            padding-top: 17px;
        }
        #underSubtitle {
            font-family: 'inter';
            font-weight: lighter;
            font-size: 20px;
            color: #525252;
            margin-top: -5%;
        }
        #whiteBox div label {
            font-family: 'inter';
            font-weight: bold;
            font-size: 16px;
            color: #404040;
        }
         #whiteBox div input {
            font-family: 'inter';
            font-size: 100%;
            width: 95%;
            height: 42px;
            border-radius: 5px;
            border: 1px solid #4A4A4A;
            padding: 2%;
            box-sizing: border-box;
            margin-top: 5px;
            margin-bottom: 10px;
           padding-left: 40px;
           outline: none;

        }
        
        #forgotPassword {
            font-family: 'inter';
            font-size: 14px;
            color: #1C398E;
            margin-top: 2%;
            cursor: pointer;
            margin-left: 77%;
        }
        #signInBox {
            background-color: #1C398E;
            width: 95%;
            height: 55px;
            border: none;
            border-radius: 13px;
            margin-top: 10px;
            cursor: pointer;
            text-align: center;
            align-items: center;
            line-height: 10%;
        }
        #signInButton{
            text-align: center;
            font-family: 'inter';
            font-weight: bold;
            color: #FFFFFF;
            font-size: 18px;
            margin-left: -15px;
            margin-top: -12px;
        }
        #hr{
            margin-top: 30px;
            width: 95%;
            border: 1.5px solid #A6A6A6;
            margin-left: 0px;
        }
        #noAccount{
            font-family: 'inter';
            font-size: 18px;
            color: #404040;
            margin-top: 20px;
            text-align: center;
            margin-left: -20px;
            width: 561px;
        }
        #signInBox:hover {
            background-color: #193CB8;
        }
        
        

/*///////////////////////////////////////////////////////////////////*/
        #whiteBox2 {
            background-color: #FFFFFF;
            width: 841px;
            height: 500px;
            border-radius: 30px;
            margin-top: -25px;
            box-shadow: 0px 4px 6px #9F9F9F;
            padding-left: 20px;
            padding-right: 20px;            
            align-self: center;
            place-self: center;
            max-width: 95%;
        }
        #underSubtitle2 {
            font-family: 'inter';
            font-weight: lighter;
            font-size: 20px;
            color: #525252;
            margin-top: -3.5%;
        }

        #whiteBox2 div input {
            font-family: 'inter';
            font-size: 100%;
            width: 400px;
            height: 42px;
            border-radius: 5px;
            border: 1px solid #4A4A4A;
            padding: 2%;
            box-sizing: border-box;
           margin-top: 5px;
           margin-bottom: 10px;
           padding-left: 40px;
           outline: none;
        }

      /*  #userRoleBox {
            font-family: 'inter';
            font-size: 100%;
            width: 100%;
            height: 42px;
            border-radius: 5px;
            border: 1px solid #4A4A4A;
            padding-left: 2%;
            box-sizing: border-box;
            margin-top: -20px;
        }
        #userRoleBox option {
            font-family: 'inter';
            font-size: 16px;
            color: #4A4A4A;
        }*/
        #checkBox{
            width: 10px;
            height: 10px;
            border-radius: 5px;
            border: 1px solid #4A4A4A;
            margin-top: 10px;
            cursor: pointer;
        }
        #checkBoxContainer {
           display: flex;         
           align-items: center;   
           gap: 10px;             
           margin-top: 20px;   
          }

         #signUpBox {
            display: flex;
            align-items: center;
            background-color: #1C398E;
            width: 841px;
            height: 55px;
            border: none;
            border-radius: 13px;
            margin-top: 40px;
            cursor: pointer;
            text-align: center;
            width:100%;
            margin-left: 0;
            max-width: 100%;
        }
        #signUpButton{
            font-family: 'inter';
            font-weight: bold;
            color: #FFFFFF;
            font-size: 18px;
            margin-left: 8px;
        }
        #hr2{
            margin-top:40px;
            width: 841px;
            border: 1.5px solid #A6A6A6;
            margin-left: 0px;
        }
        #haveAccount{
            font-family: 'inter';
            font-size: 18px;
            color: #404040;
            margin-top: 30px;
            text-align: center;
            margin-left: 0%;
            width: 841px;
        }
        #signUpBox:hover {
            background-color: #193CB8;
        }

        /*//////////////////////////////////////////////////////////////*/
        .header{
            height: 90px;
            background-color: #1C398E;
            display: flex;
            align-items: center;
            text-align: center;
            justify-content: space-between
        }
        #headerTitle{
            color: #FFFFFF;
            margin-left: 10%;
            font-family: 'inter';
            font-weight: bold;
            font-size: 32px; 
            text-align: center;
            flex-grow: 1;
        }
        #headIcon{
            width:32px;
            height:32px;
        }
        #myAccount{
            font-size: 16px;
            color: #FFFFFF;
            margin-right: 20px;
            margin-left: auto;
            cursor: pointer;
            margin-left: 10px;
        }
        #hsSubTitle {
            font-family: 'inter';
            font-weight: semi-bold;
            font-size: 24px;
            color: #000000;
            margin-top: 20px;
        }
        #hsUnderSubtitle {
            font-family: 'inter';
            font-weight: lighter;
            font-size: 20px;
            color: #525252;
            margin-top: -25px;
        }
        #whatsHsBox{
            display: flex;
            padding-right: 25%;
            height: 132px;
            margin-top: 20px;
            background-color: #EFF6FF;
            border-radius: 10px;
            border: 1px solid #609DEB;
        }
        #whatIsHsTitle{
            font-family: 'inter';
            font-weight: semi-bold;
            font-size: 20px;
            color: #000000;
            margin-top: 20px;
            margin-left: 20px;
        }
        #whatIsHsContent{
            font-family: 'inter';
            font-weight: 200;
            font-size: 16px;
            color: #404040;
            width: 75%;
        }
        #describeProductBox{
            padding-right: 20px;
            height: 482px;
            margin-top: 25px;
            background-color: #FFFFFF;
            border-radius: 10px;
            border: 1px solid #E5E5E5;
            padding-left: 20px;
            box-shadow: #E5E5E5 0px 4px 6px;
        }
        #describeProductTitle{
            font-family: 'inter';
            font-weight: semi-bold;
            font-size: 24px;
            color: #000000;
            margin-top: 20px;
        }
        #describeProductSubtitle{
            font-family: 'inter';
            font-weight: 200;
            font-size: 16px;
            color: #525252;
            width: 90%;
            margin-top: -20px;
        }
        #productName{
            color: #171717;
            font-family: 'inter';
            font-size: 14px;
            margin-top: 40px;
        }
        #productNameBox{
            font-family: 'inter';
            font-size: 100%;
            width: 95%;
            height: 50px;
            border-radius: 10px;
            border: 1px solid #D4D4D4;
            padding: 2%;
            box-sizing: border-box;
            margin-top: 5px;
            margin-bottom: 15px;
        }
        #productDescription{
            color: #171717;
            font-family: 'inter';
            font-size: 14px;
            margin-top: 20px;
        }
        #productDescriptionBox{
            font-family: 'inter';
            font-size: 100%;
            width: 95%;
            height: 118px;
            border-radius: 10px;
            border: 1px solid #D4D4D4;
            padding: 2%;
            box-sizing: border-box;
            margin-top: 5px;
        }
        #findHsCodeBox{
            background-color: #000000;
            width: 170px;
            height: 40px;
            border: 1px solid #E5E7EB;
            border-radius: 8px;
            margin-top: 30px;
            cursor: pointer;
            text-align: center;
            justify-items: flex-start;
        }
        #findHsCodeButton{
            font-family: 'inter';
            font-weight: 400;
            color: #FFFFFF;
            font-size: 20px;
            padding-left: 10px;
        }
        #findHsCodeBox:hover {
            background-color: #333333;
        }
        #iconsWrapper{
            display: flex;
            align-items: center;
        }
        /*///////////////////////////////////////////////////////////////////*/
       /* Recent Edits Below */
       form #whiteBox div.incorrect input{
            border: 2px solid #d10000d3;
            border-radius: 5px;
        }
        form #whiteBox div.incorrect label{
            color: #d10000d3;
        }
        form #whiteBox2 div.incorrect input{
            border: 2px solid #d10000d3;
            border-radius: 5px;
        }
        form #whiteBox2 div.incorrect label{
            color: #d10000d3;
        }
        #signInBox, #signUpBox, #findHsCodeBox {
        transition: background-color 0.3s ease;
         }
        
       /* Disables the default eye icon in Microsoft Edge */
input::-ms-reveal {
    display: none;
}

/* Disables the default eye icon in older versions of IE */
input::-ms-clear {
    display: none;
}

/* Chrome/Safari sometimes adds a 'caps lock' or other indicators, 
   this ensures a clean input field */
input::-webkit-contacts-auto-fill-button, 
input::-webkit-credentials-auto-fill-button {
    visibility: hidden;
    display: none !important;
    pointer-events: none;
}
/* Mobile Adjustments (Phones and Tablets) */
@media (max-width: 768px) {
    /* Stack the side-by-side inputs vertically */
    #whiteBox2 div[style*="display: flex"] {
        flex-direction: column !important;
    }

    /* Fix the eye icon positioning for mobile */
    #eyeIcon1, #eyeIcon2 {
        margin-left: 95% !important; /* Adjust icon position when box is narrow */
    }

    #forgotPassword {
        margin-left: 0;
        text-align: right;
        display: block;
    }

    #title {
        font-size: 32px; /* Smaller text for smaller screens */
    }
}